html{
    font-family: "Roboto", sans-serif;    
}
body {
    
}
.nav-wrapper {
    padding: 0 25px;
}
.nav-wrapper .collection .collection-item.avatar {
    min-height: 50px;
}
.side-nav i {
   margin-top: 17px;
}
#dropdown1 {
    width: 250px;
}
/* Include Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/font/material-design-icons/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.logo {
    margin-top: 13px;
}
.top-menu-icon {
    font-size: 70px;
    margin: 0 auto;
}
.help-menu-icon {
    font-size: 35px;
    margin: 0 auto;
}
.hover-tooltip {
    color: #e57373;
}
.hover-tooltip:hover {
    color: #c62828;
}
.preloader-all, .preloader-month {
    display: block;
    margin: 0 auto;
}