//##########################################################################
// Названия селекторов
//##########################################################################


// Общие селекторы
//--------------------------------------------------------------------------

$_global:         "nc-admin";
$_divider:        "nc-divider";
$_text_prefix:    "nc-text-";
$_h_prefix:       "nc-h";
$_hr:             "nc-hr";
$_code:           "nc-code";
$_padding_prefix: "nc-padding-";
$_bg_prefix:      "nc-bg-";
$_shadow:         "nc-shadow";
$_box:            "nc-box";
$_group:          "nc-group";

//--------------------------------------------------------------------------

$_ie6:   "nc-ie6";
$_ie7:   "nc-ie7";
$_ie8:   "nc-ie8";
$_oldie: "nc-oldie";


// Компоненты
//--------------------------------------------------------------------------
$_alert:        "nc-alert";
$_btn:          "nc-btn";
$_label:        "nc-label";
$_form:         "nc-form";
$_form_row:     "nc-form-row";
$_form_actions: "nc-form-actions";
$_input:        "nc-input";
$_select:       "nc-select";
$_icon:         "nc-icon";
$_icon_large:   "nc-icon-l";
$_icon_xlarge:  "nc-icon-x";
$_navbar:       "nc-navbar";
$_menu:         "nc-menu";
$_quick_menu:   "nc-quick-menu";
$_tray:         "nc-tray";
$_scroll:       "nc-scroll";
$_table:        "nc-table";
$_tabs:         "nc-tabs";
$_tree:         "nc-tree";
$_toolbar:      "nc-toolbar";
$_caret:        "nc-caret";

// Модификаторы
//--------------------------------------------------------------------------

$__mod_prefix:  "nc--";
$__icon_prefix: "nc--";

$__vertical:   "nc--vertical";
$__horizontal: "nc--horizontal";

$__blocked: "nc--blocked";
$__wide:    "nc--wide";
$__compact: "nc--compact";

$__dropdown: "nc--dropdown";
$__simple:   "nc--simple";

$__clicked:  "nc--clicked";
$__active:   "nc--active";
$__disabled: "nc--disabled";

$__mini:   "nc--mini";
$__small:  "nc--small";
$__medium: "nc--medium";
$__large:  "nc--large";
$__xlarge: "nc--xlarge";

$__rounded:  "nc--rounded";
$__bordered: "nc--bordered";
$__striped:  "nc--striped";
$__hovered:  "nc--hovered";
$__loading:  "nc--loading";
$__alt:      "nc--alt";

$__left:     "nc--left";
$__right:    "nc--right";
$__clearfix: "nc--clearfix";
$__nowrap:   "nc--nowrap";

$__hide:  "nc--hide";
$__show:  "nc--show";
$__fixed: "nc--fixed";

$__blue:   "nc--blue";
$__red:    "nc--red";
$__green:  "nc--green";
$__yellow: "nc--yellow";
// $__orange: "nc--orange";
// $__purple: "nc--purple";
// $__pink:   "nc--pink";
// $__cyan:   "nc--cyan";

$__white:   "nc--white";
$__lighten: "nc--lighten";
$__light:   "nc--light";
$__grey:    "nc--grey";
$__dark:    "nc--dark";
$__darken:  "nc--darken";
$__black:   "nc--black";


//--------------------------------------------------------------------------
