
DirectoryIndex index.php

AddDefaultCharset utf-8

# Если NetCat стоит в подпапке, например mysite, то
# ErrorDocument 404 /mysite/netcat/require/e404.php
# в противном случае
ErrorDocument 404 /netcat/require/e404.php

Options -Indexes
Options +FollowSymLinks

<IfModule mod_php5.c>
php_flag display_errors off
php_value error_reporting 0
php_value arg_separator.output "&amp;"
php_value mbstring.internal_encoding UTF-8
php_value short_open_tag on


# php_value open_basedir 
</IfModule>

<ifModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
# Если NetCat стоит в подпапке, например mysite, то
# RewriteRule ^(.+)$ /mysite/netcat/require/e404.php?REQUEST_URI=$1 [L,QSA]
# в противном случае
RewriteRule ^(.+)$ /netcat/require/e404.php?REQUEST_URI=$1 [L,QSA]
RewriteRule .* - [E=HTTP_IF_MODIFIED_SINCE:%{HTTP:If-Modified-Since}]
RewriteRule .* - [E=HTTP_IF_NONE_MATCH:%{HTTP:If-None-Match}]
</ifModule> 
