%Header

	<!-- CONTENT AREA -->
	<div id="content_area">
		<div class="alignment">
			
			<!-- CANVAS ( WHITE SHEET ) --> 
			<div class="canvas">
			<div class="arrows left"></div>
			<div class="arrows right"></div>
				
				<!-- HOTBAR -->
				<div id="hotbar">
<!--
					<ul>
						<li id="projects" href="#"><span class="ico"></span>более <span class="large">700</span> проектов</li>
						<li id="reviews" href="#"><span class="ico"></span><span class="large">3250</span> обзоров размещено</li>
						<li id="web-sites" href="#"><span class="ico"></span><span class="large">64</span> сайта в системе</li>
					</ul>
!-->
					
				</div>
				<!-- HOTBAR -->
				
				<!-- SLIDER -->
				<div id="slider">
					
					<!-- navigation -->

					<div class="navigation">
						<a class="current" href="#" rel="0"></a>
						<a href="#" rel="1"></a>
						<a href="#" rel="2"></a>
						<a href="#" rel="3"></a>
					</div>

					
					<!-- action bar -->
					<div class="actionbar">
						
						<a href="/register.php" class="getting-started"></a>
						
						<div class="share">
							
<!--							<img src="images/interface/share-dummy.png" alt="some" />!-->
							
						</div>
						
					</div>
					
					<!-- screen -->
					<div class="screen">
						<ul>
							<li>
								
								<!-- description -->
                                                                <?=nc_objects_list(1,10,'onlyText=1')?>
								
								<!-- illustration -->
                                                                <?=nc_objects_list(1,10,'onlyPics=1')?>
							</li>
							<li>
								
								<!-- description -->
								<div class="description">
								
									<div class="title">
										доход без забот
									</div>
									
									<div class="logo">
										— система автоматической монетизации
									</div>
									
									<p>
										Ваш сайт приносит прибыль, но совсем <br />
										не оставляет свободного времени? <br />
										Выход есть — сервис iForget.
									</p>
<!--									
									<div class="share">
										<a class="facebook" href="#"></a>
										<a class="twitter" href="#"></a>
										<a class="vk" href="#"></a>
									</div>
!-->
									
								</div>
								
								<!-- illustration -->
								<img class="illustration" src="images/interface/slider-illustration-1.png" alt="some" />
								
							</li>
							<li>
								
								<!-- description -->
								<div class="description">
								
									<div class="title">
										доход без забот
									</div>
									
									<div class="logo">
										— система автоматической монетизации
									</div>
									
									<p>
										Ваш сайт приносит прибыль, но совсем <br />
										не оставляет свободного времени? <br />
										Выход есть — сервис iForget.
									</p>
<!--
									<div class="share">
										<a class="facebook" href="#"></a>
										<a class="twitter" href="#"></a>
										<a class="vk" href="#"></a>
									</div>
!-->									
								</div>
								
								<!-- illustration -->
								<img class="illustration" src="images/interface/slider-illustration-1.png" alt="some" />
								
							</li>
						</ul>
					</div>
					
				</div>
				
				<!-- PARTNERS -->
				<div id="partners">
					
					<h2>С кем мы работаем</h2>
					
					<div class="background">
						
                                                 <?=nc_objects_list(1,8,'',FALSE)?>

						<div class="more">
							<a href="/partners/">Весь перечень</a>
						</div>

						
					</div>
					
					
				</div>
				
				<!-- HOW IT WORKS -->
				<div id="how-it-works">
					
					<h2>Как это работает?</h2>
					<ul>
						<li id="step-1" onclick="window.location = '/registration/';">
							1. <a href="/registration/">Регистрируетесь в система iForget</a>
						</li>
						<li id="step-2" onclick="window.location = '/add-sites/';">
							2. <a href="/add-sites/">Добавляете свои сайты</a>
						</li>
						<li id="step-3" onclick="window.location = '/getmoney/';">
							3. <a href="/getmoney/">Выводите деньги на свой кошелек</a>
						</li>
					</ul>
				</div>
				
			</div>
			<!-- CANVAS END -->
                        <div>&nbsp;</div><div>&nbsp;</div>
                        <?=nc_objects_list(32,39,'nc_ctpl=2010')?>
		</div>
	</div>
	<!-- CONTENT AREA END -->