Здесь представлены основные требования к работе авторов. 

Общие требования к тексту

	Соответствие тематике (НЕ фразы, а именно тематике), если прямо не указано, что можно писать по теме фразы 
	Максимальное совмещение тематики и темы фразы (например, фраза «украшения» прекрасно впишется в женскую тематику и необходимо писать в этом случае ОБЯЗАТЕЛЬНО о женских украшениях, а не о народном противостоянии феминисток в Палестине).
	Текст должен быть уникальным (минимальная уникальность 95%). 
	Текст должен иметь смысловую нагрузку. То есть несущим какую-то полезную информацию для читателей законченный рассказ, с четким и понятным изложением какого-то факта или события, совет, инструкция или рекомендация.
	Информация ОБЯЗАТЕЛЬНО должна быть правдивой.
	Предложения должны быть связаны между собой по смыслу. 
	Фраза должна входить в текст естественно (по смыслу, числу и падежу),или её нужно употребить, не изменяя ничего.Это прописано рядом с фразой, пример: в тексте должна быть фраза "www.altaystroy.ru (склонять анкор нельзя )"
	В тексте не должно быть грамматических и пунктуационных ошибок.
	Нельзя писать от первого лица и от лица компании (мы изготовим для вас, в нашей компании). Все текста пишутся только от третьего лица.


Оформление

	Текст необходимо делить на абзацы и выделять подзаголовки.
	Нельзя употреблять в тексте смайлы и множество восклицательных и вопросительных знаков.


О тематике

	Нужно избегать любых негативных тем - Придаем тексту нейтральную или положительную окраску.
 

О вписывании фразы в тест

	НЕЛЬЗЯ менять заглавные буквы на строчные и наоборот, нельзя его склонять и изменять. Лучше не переписывать фразу, а скопировать и вставить в текст.
	Фраза должна входить в текст естественно. НЕЛЬЗЯ писать: Ухаживать за лицом [матрасы] нужно ежедневно. Мы не примем такую работу. 
	Если в задании фраза, например, "свадебные платья", а вам нужно написать что-то на тему "Советы хозяйке" НЕЛЬЗЯ писать о туалетных ершиках или борьбе с тараканами и всовывать кое-как фразу. 
	НЕЛЬЗЯ придавать фразе негативную окраску. Пишем о нем либо нейтрально, либо ненавязчиво рекомендуем читателю товар, услугу и т.д.
	Фраза должна иметь тематическое окружение (если фраза "диваны", необходимо употребить рядом слова, например, мебель, интерьер спальня). 


О несоответствии темы и фразы

	Если тематику невозможно аккуратно совместить с темой фразы и логически она никак в нее не вписывается, следует писать текст по тематике. А в конце текста написать 2-3 полноценных предложения о фразе и вставив фразу. 
	В таких случаях пишем текст, а в конце дописываем 2-3 полноценных предложения, не относящихся к тексту, именно по теме ключа. 
	Фраза должна иметь тематическое окружение. После фразы нужно дописать еще несколько слов или предложение.
	НЕЛЬЗЯ фразой заканчивать текст.


Текст на широкую тематику

	Даже если вы «в теме» не стоит выдумывать что-то самостоятельно. Основывайтесь на реальных фактах.
	Не используйте избитые фразы и выражения - текст короткий и уникальность сразу упадет. 
	Смотрите информацию о фразе, особенно если это слово вам незнакомо. Если фраза, например, монурал (название лекарства) НЕЛЬЗЯ писать, что это модная прическа или деталь трактора.